{% extends "base.html" %}

{% block title %}Authors{% endblock %}

{% block content %}

{{ top_content }}

<table>
	<thead>
		<tr>
			<th>Nickname</th>
		</tr>
	</thead>
	<tbody>
		{% if authors.empty %}
		<tr>
			<td>No results to display.</td>
		</tr>
		{% else %}
		{% for row in authors.run() %}
		<tr>
			<td><a href="{{ row.url() }}">{{ row.nickname }}</a></td>
			{% if logged_in %}
				{% if user.isAdmin() or row.user_id == user.user_id %}
					<td class="extra"><a href="{{ row.editUrl() }}">Edit</a></td>
				{% endif %}
				{% if user.isAdmin() %}
					<td class="extra"><a href="{{ row.deleteUrl() }}">Delete</a></td>
				{% endif %}
			{% endif %}
		</tr>
		{% endfor %}
		{% endif %}
	</tbody>
</table>

{{ authors.paginate() }}

{% endblock %}
